        <h1>股票信息</h1>
        <table>
            <tr>

                <td>股票名称</td>
                <td>今日开盘价</td>
                <td>当前价格</td>
                <td>今日最高价</td>
                <td>今日最低价</td>
            </tr>

            <tr>
                <td>{{data.0}}</td>
                <td>{{data.1}}</td>
                <td>{{data.3}}</td>
                <td>{{data.4}}</td>
                <td>{{data.5}}</td>
    
            </tr>
        </table>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>股票名称</th>
                  <th>股票代码</th>
                  <th>开盘价</th>
                  <th>最高价</th>
                  <th>最低价</th>
                  <th>收盘价</th>
                  <th>换手率</th>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>dolor</td>
                  <td>sit</td>
                  <td>sit</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>dolor</td>
                  <td>sit</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                  <td>sit</td>
                </tr>
              
              </tbody>
            </table>
          </div>
>